{% extends 'base.html' %}

{% block head %}
    <title>Flask Tutorial</title>
{% endblock %}



{% block body %}
    <div class="container">
        <div class="content">
            <br>
            <h1 class="text-center">Task Master</h1>

            {% if tasks|length < 1 %}
                <h4 class="text-center">There are no tasks. Create one below!</h4>
                <br>
                <form action="/" method="post" class="float-right">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
            {% else %}

                <form action="/" method="post" class="float-right">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
                <br><br>
                <table class="table table-bordered">
                    <tr>
                        <th>Task</th>
                        <th>Added</th>
                        <th>Actions</th>
                    </tr>

                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.content }}</td>
                            <td>{{ task.date_created.date() }}</td>
                            <td>
                                <a href="/delete/{{ task.id }}/">Delete</a>
                                <br>
                                <a href="/update/{{ task.id }}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}